In [1]:
import pandas as pd

# Read the text file
with open('simple_simulation.txt', 'r') as file:
    lines = file.readlines()

# Remove any extra whitespace characters like '\n'
lines = [line.strip() for line in lines]

# Calculate the number of rows and columns in the DataFrame
num_rows = len(lines) // 4
num_columns = 4

# Create a list to store data for each column
columns_data = {f'Road{i}': [] for i in range(1, num_columns + 1)}

# Iterate through lines and distribute them into columns
for i, line in enumerate(lines):
    column_index = i % num_columns + 1
    columns_data[f'Road{column_index}'].append(line)

# Create DataFrame
df = pd.DataFrame(columns_data)

In [3]:
df['Road1'] = df['Road1'].astype(int)
df['Road2'] = df['Road2'].astype(int)
df['Road3'] = df['Road3'].astype(int)
df['Road4'] = df['Road4'].astype(int)

In [4]:
# Calculate the differences between consecutive rows
df['Road1'] = df['Road1'].diff()
df['Road2'] = df['Road2'].diff()
df['Road3'] = df['Road3'].diff()
df['Road4'] = df['Road4'].diff()

In [6]:
# The first row will have NaN since there's no previous row to calculate the difference with, you can fill it with the original value
df['Road1'].fillna(1, inplace=True)
df['Road2'].fillna(6, inplace=True)
df['Road3'].fillna(11, inplace=True)
df['Road4'].fillna(17, inplace=True)

In [8]:
df.head()

   Road1  Road2  Road3  Road4
0    1.0    6.0   11.0   17.0
1   12.0   15.0   17.0    9.0
2   22.0   13.0   14.0   11.0
3   23.0   10.0   15.0   14.0
4   17.0   15.0    6.0   17.0

In [9]:
df.tail()

     Road1  Road2  Road3  Road4
167   10.0   18.0   14.0   18.0
168   12.0   19.0   13.0   15.0
169   16.0   20.0   15.0   10.0
170   14.0   13.0   13.0   15.0
171   18.0   12.0   19.0   12.0

In [10]:
df.shape

(172, 4)

In [11]:
df.to_csv('simple_traffic.csv', index=False)